*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/phoneApp/build
/wearApp/build
/captures
.externalNativeBuild
*.aab
/.idea
wearApp/src/main/res/values/keys.xml
wearApp/src/main/res/values/keys.xml
wearApp/src/main/res/values/secrets.xml
phoneApp/src/main/res/values/secrets.xml

!/.idea